In [1]:
import pandas as pd

In [2]:

link1="https://docs.google.com/spreadsheets/d/e/2PACX-1vT0Y8BYPP0ueTF3quDR_JDWVBGUZ0GpFWFwQ9wYCvHwtXtpgg9s_zxKCECSlOEryRo4wVirg610G3zg/pub?output=csv"

environment=pd.read_csv(link1)

In [3]:
link1

'https://docs.google.com/spreadsheets/d/e/2PACX-1vT0Y8BYPP0ueTF3quDR_JDWVBGUZ0GpFWFwQ9wYCvHwtXtpgg9s_zxKCECSlOEryRo4wVirg610G3zg/pub?output=csv'

In [4]:
environment.head()

,Unnamed: 0,Participation in Selected International Environmental Agreements (year),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,Country,Basel Convention-1989,CITES,Conv. on Biological Diversity,Conv. on Migratory Species,Kyoto Protocol,Montreal Protocol,Paris Agreement,Ramsar Conv.,Rotterdam Conv.,Stockholm Conv.,UN Conv. on the Law of the Sea,UN Conv. to Combat Desertification,UN Framework Conv. on Climate Change,World Heritage Conv.
1,NaN,Afghanistan,2013,1985,2002,2015,2013,2004,2017,...,2013,2013,...,1995,2002,1979
2,NaN,Albania,1999,2003,1994,2001,2005,1999,2016,1996,2010,2004,2003,2000,1994,1989
3,NaN,Algeria,1998,1983,1995,2005,2005,1992,2016,1984,...,2006,1996,1996,1993,1974
4,NaN,Andorra,1999,…,2015,...,...,2009,2017,2012,...,...,...,2002,2011,1997

In [5]:
environment.iloc[:,:1]

     Unnamed: 0
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
226         NaN
227         NaN
228         NaN
229         NaN
230         NaN

[231 rows x 1 columns]

In [6]:
environment.iloc[:,1:]

,Participation in Selected International Environmental Agreements (year),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Country,Basel Convention-1989,CITES,Conv. on Biological Diversity,Conv. on Migratory Species,Kyoto Protocol,Montreal Protocol,Paris Agreement,Ramsar Conv.,Rotterdam Conv.,Stockholm Conv.,UN Conv. on the Law of the Sea,UN Conv. to Combat Desertification,UN Framework Conv. on Climate Change,World Heritage Conv.
1,Afghanistan,2013,1985,2002,2015,2013,2004,2017,...,2013,2013,...,1995,2002,1979
2,Albania,1999,2003,1994,2001,2005,1999,2016,1996,2010,2004,2003,2000,1994,1989
3,Algeria,1998,1983,1995,2005,2005,1992,2016,1984,...,2006,1996,1996,1993,1974
4,Andorra,1999,…,2015,...,...,2009,2017,2012,...,...,...,2002,2011,1997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Stockholm Convention on Persistent Organic Pol...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,United Nations Convention on the Law of the Se...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,United Nations Convention to Combat Desertific...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,United Nations Framework Convention on Climate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,Convention Concerning the Protection of the Wo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
environment.tail(50)

,Unnamed: 0,Participation in Selected International Environmental Agreements (year),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
181,NaN,Uganda,1999,1991,1993,2000,2002,1988,2016,1988,2008,2004,1990,1997,1993,1987
182,NaN,Ukraine,1999,1999,1995,1999,2004,1988,2016,1991,2002,2007,1999,2002,1997,1988
183,NaN,United Arab Emirates,1992,1990,2000,2016,2005,1989,2016,2007,2002,2002,...,1998,1995,2001
184,NaN,United Kingdom of Great Britain and Northern I...,1994,1976,1994,1985,2002,1988,2016,1976,2004,2005,...,1996,1993,1984
185,NaN,United Republic of Tanzania,1993,1979,1996,1999,2002,1993,...,2000,2002,2004,1985,1997,1996,1977
186,NaN,United States of America,…,1974,…,...,…,1988,2016,1987,...,...,...,2000,1992,1973
187,NaN,Uruguay,1991,1975,1994,1990,2001,1991,2016,1984,2003,2004,1992,1999,1994,1989
188,NaN,Uzbekistan,1996,1997,1995,1998,1999,1993,...,2002,...,...,...,1995,1993,1993
189,NaN,Vanuatu,...,1989,1993,...,2001,1994,2016,...,...,2005,1999,1999,1993,2002
190,NaN,Venezuela (Bolivarian Republic of),1998,1977,1994,...,2005,1989,2017,1988,2005,2005,...,1998,1994,1990
191,NaN,Viet Nam,1995,1994,1995,...,2002,1994,2016,1989,2007,2002,...,1998,1994,1987
192,NaN,Yemen,1996,1997,1996,2006,2004,1996,...,2008,2006,2004,1987,1997,1996,1980
193,NaN,Zambia,1994,1980,1993,...,2006,1990,2016,1991,2011,2006,1983,1996,1993,1984
194,NaN,Zimbabwe,2012,1981,1995,2012,2009,1992,2017,2013,2012,2012,1993,1997,1992,1982
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,Sources:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,Basel Convention on the Control of Transbounda...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,Convention on International Trade in Endangere...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,Convention on Biological Diversity (CBD) (acce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,Convention on the Conservation of Migratory Sp...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,Kyoto Protocol (accessed 1 December 2017): htt...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,Montreal Protocol on Substances that Deplete t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,NaN,Convention on Wetlands of International Import...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,NaN,The Paris Agreement (accessed on 1 December 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,Rotterdam Convention on the Prior Informed Con...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,Stockholm Convention on Persistent Organic Pol...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,NaN,United Nations Convention on the Law of the Se...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,NaN,United Nations Convention to Combat Desertific...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,NaN,United Nations Framework Convention on Climate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,NaN,World Heritage Convention (accessed 1 December...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,NaN,Definitions & Technical notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,The table presents the years of formalization ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,The years refer to the date that participation...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,NaN,Participation can have special or country-spec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,Below are the complete titles and secretariat ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,NaN,Basel Convention on the Control of Transbounda...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,NaN,Convention on International Trade in Endangere...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,Convention on Biological Diversity (CBD) (http...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,NaN,Convention on the Conservation of Migratory Sp...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,Kyoto Protocol (http://unfccc.int/kyoto_protoc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,NaN,Montreal Protocol on Substances that Deplete t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,NaN,Convention on Wetlands of International Import...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,NaN,Paris Agreement (http://unfccc.int/paris_agree...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,NaN,Rotterdam Convention on the Prior Informed Con...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,NaN,Stockholm Convention on Persistent Organic Pol...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,NaN,United Nations Convention on the Law of the Se...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,NaN,United Nations Convention to Combat Desertific...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,NaN,United Nations Framework Convention on Climate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,NaN,Convention Concerning the Protection of the Wo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
environment.drop(index=range(195,231), inplace=True)

In [9]:
environment.tail()

,Unnamed: 0,Participation in Selected International Environmental Agreements (year),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
190,NaN,Venezuela (Bolivarian Republic of),1998,1977,1994,...,2005,1989,2017,1988,2005,2005,...,1998,1994,1990
191,NaN,Viet Nam,1995,1994,1995,...,2002,1994,2016,1989,2007,2002,...,1998,1994,1987
192,NaN,Yemen,1996,1997,1996,2006,2004,1996,...,2008,2006,2004,1987,1997,1996,1980
193,NaN,Zambia,1994,1980,1993,...,2006,1990,2016,1991,2011,2006,1983,1996,1993,1984
194,NaN,Zimbabwe,2012,1981,1995,2012,2009,1992,2017,2013,2012,2012,1993,1997,1992,1982

In [10]:
environment.head()

,Unnamed: 0,Participation in Selected International Environmental Agreements (year),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,Country,Basel Convention-1989,CITES,Conv. on Biological Diversity,Conv. on Migratory Species,Kyoto Protocol,Montreal Protocol,Paris Agreement,Ramsar Conv.,Rotterdam Conv.,Stockholm Conv.,UN Conv. on the Law of the Sea,UN Conv. to Combat Desertification,UN Framework Conv. on Climate Change,World Heritage Conv.
1,NaN,Afghanistan,2013,1985,2002,2015,2013,2004,2017,...,2013,2013,...,1995,2002,1979
2,NaN,Albania,1999,2003,1994,2001,2005,1999,2016,1996,2010,2004,2003,2000,1994,1989
3,NaN,Algeria,1998,1983,1995,2005,2005,1992,2016,1984,...,2006,1996,1996,1993,1974
4,NaN,Andorra,1999,…,2015,...,...,2009,2017,2012,...,...,...,2002,2011,1997

In [11]:
environment.iloc[:,1:]

,Participation in Selected International Environmental Agreements (year),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Country,Basel Convention-1989,CITES,Conv. on Biological Diversity,Conv. on Migratory Species,Kyoto Protocol,Montreal Protocol,Paris Agreement,Ramsar Conv.,Rotterdam Conv.,Stockholm Conv.,UN Conv. on the Law of the Sea,UN Conv. to Combat Desertification,UN Framework Conv. on Climate Change,World Heritage Conv.
1,Afghanistan,2013,1985,2002,2015,2013,2004,2017,...,2013,2013,...,1995,2002,1979
2,Albania,1999,2003,1994,2001,2005,1999,2016,1996,2010,2004,2003,2000,1994,1989
3,Algeria,1998,1983,1995,2005,2005,1992,2016,1984,...,2006,1996,1996,1993,1974
4,Andorra,1999,…,2015,...,...,2009,2017,2012,...,...,...,2002,2011,1997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela (Bolivarian Republic of),1998,1977,1994,...,2005,1989,2017,1988,2005,2005,...,1998,1994,1990
191,Viet Nam,1995,1994,1995,...,2002,1994,2016,1989,2007,2002,...,1998,1994,1987
192,Yemen,1996,1997,1996,2006,2004,1996,...,2008,2006,2004,1987,1997,1996,1980
193,Zambia,1994,1980,1993,...,2006,1990,2016,1991,2011,2006,1983,1996,1993,1984
194,Zimbabwe,2012,1981,1995,2012,2009,1992,2017,2013,2012,2012,1993,1997,1992,1982

In [12]:
environment=environment.iloc[:,1:]

In [13]:
environment.head()

,Participation in Selected International Environmental Agreements (year),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Country,Basel Convention-1989,CITES,Conv. on Biological Diversity,Conv. on Migratory Species,Kyoto Protocol,Montreal Protocol,Paris Agreement,Ramsar Conv.,Rotterdam Conv.,Stockholm Conv.,UN Conv. on the Law of the Sea,UN Conv. to Combat Desertification,UN Framework Conv. on Climate Change,World Heritage Conv.
1,Afghanistan,2013,1985,2002,2015,2013,2004,2017,...,2013,2013,...,1995,2002,1979
2,Albania,1999,2003,1994,2001,2005,1999,2016,1996,2010,2004,2003,2000,1994,1989
3,Algeria,1998,1983,1995,2005,2005,1992,2016,1984,...,2006,1996,1996,1993,1974
4,Andorra,1999,…,2015,...,...,2009,2017,2012,...,...,...,2002,2011,1997

In [14]:
import numpy as np

In [15]:
environment.head()

,Participation in Selected International Environmental Agreements (year),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Country,Basel Convention-1989,CITES,Conv. on Biological Diversity,Conv. on Migratory Species,Kyoto Protocol,Montreal Protocol,Paris Agreement,Ramsar Conv.,Rotterdam Conv.,Stockholm Conv.,UN Conv. on the Law of the Sea,UN Conv. to Combat Desertification,UN Framework Conv. on Climate Change,World Heritage Conv.
1,Afghanistan,2013,1985,2002,2015,2013,2004,2017,...,2013,2013,...,1995,2002,1979
2,Albania,1999,2003,1994,2001,2005,1999,2016,1996,2010,2004,2003,2000,1994,1989
3,Algeria,1998,1983,1995,2005,2005,1992,2016,1984,...,2006,1996,1996,1993,1974
4,Andorra,1999,…,2015,...,...,2009,2017,2012,...,...,...,2002,2011,1997

In [16]:
environment.iloc[0,:].tolist()

['Country',
 'Basel Convention-1989',
 'CITES',
 'Conv. on Biological Diversity',
 'Conv. on Migratory Species',
 'Kyoto Protocol',
 'Montreal Protocol',
 'Paris Agreement',
 'Ramsar Conv.',
 'Rotterdam Conv.',
 'Stockholm Conv.',
 'UN Conv. on the Law of the Sea',
 'UN Conv. to Combat Desertification',
 'UN Framework Conv. on Climate Change',
 'World Heritage Conv.']

In [17]:
Currentheaders=environment.iloc[0,:].tolist()

In [18]:
environment.columns=Currentheaders

In [19]:
environment.drop(index=0, inplace=True)

In [20]:
environment.reset_index(drop=True,inplace=True)

In [21]:
environment.head()

,Country,Basel Convention-1989,CITES,Conv. on Biological Diversity,Conv. on Migratory Species,Kyoto Protocol,Montreal Protocol,Paris Agreement,Ramsar Conv.,Rotterdam Conv.,Stockholm Conv.,UN Conv. on the Law of the Sea,UN Conv. to Combat Desertification,UN Framework Conv. on Climate Change,World Heritage Conv.
0,Afghanistan,2013,1985,2002,2015,2013,2004,2017,...,2013,2013,...,1995,2002,1979
1,Albania,1999,2003,1994,2001,2005,1999,2016,1996,2010,2004,2003,2000,1994,1989
2,Algeria,1998,1983,1995,2005,2005,1992,2016,1984,...,2006,1996,1996,1993,1974
3,Andorra,1999,…,2015,...,...,2009,2017,2012,...,...,...,2002,2011,1997
4,Angola,2017,2013,1998,2006,2007,2000,...,...,...,2006,1990,1997,2000,1991

In [22]:
environment.rename(columns={'Basel Convention-1989':'Basel_Convention',
                           'CITES':'CITES',
                           'Conv. on Biological Diversity':'Convention_On_Biological_Diversity',
                           'Conv. on Migratory Species': 'Convention_On_Migratory_Species',
                           'Kyoto Protocol':'Kyoto_Protocol',
                           'Montreal Protocol': 'Montreal_Protocol',
                           'Paris Agreement': 'Paris_Agreement',
                           'Ramsar Conv.': 'Ramsar_Convention',
                           'Rotterdam Conv.': 'Rotterdam_Convention',
                           'Stockholm Conv.':'Stockholm_Convention',
                           'UN Conv. on the Law of the Sea': 'UN_Convention_on_the_Law_of_the_Sea',
                           'UN Conv. to Combat Desertification':'UN Convention_to_Combat_Desertification',
                           'UN Framework Conv. on Climate Change':'UN_Framework_Convention_on_Climate_Change',
                            'World Heritage Conv.': 'World_Heritage_Convention'}
                  )

,Country,Basel_Convention,CITES,Convention_On_Biological_Diversity,Convention_On_Migratory_Species,Kyoto_Protocol,Montreal_Protocol,Paris_Agreement,Ramsar_Convention,Rotterdam_Convention,Stockholm_Convention,UN_Convention_on_the_Law_of_the_Sea,UN Convention_to_Combat_Desertification,UN_Framework_Convention_on_Climate_Change,World_Heritage_Convention
0,Afghanistan,2013,1985,2002,2015,2013,2004,2017,...,2013,2013,...,1995,2002,1979
1,Albania,1999,2003,1994,2001,2005,1999,2016,1996,2010,2004,2003,2000,1994,1989
2,Algeria,1998,1983,1995,2005,2005,1992,2016,1984,...,2006,1996,1996,1993,1974
3,Andorra,1999,…,2015,...,...,2009,2017,2012,...,...,...,2002,2011,1997
4,Angola,2017,2013,1998,2006,2007,2000,...,...,...,2006,1990,1997,2000,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela (Bolivarian Republic of),1998,1977,1994,...,2005,1989,2017,1988,2005,2005,...,1998,1994,1990
190,Viet Nam,1995,1994,1995,...,2002,1994,2016,1989,2007,2002,...,1998,1994,1987
191,Yemen,1996,1997,1996,2006,2004,1996,...,2008,2006,2004,1987,1997,1996,1980
192,Zambia,1994,1980,1993,...,2006,1990,2016,1991,2011,2006,1983,1996,1993,1984
193,Zimbabwe,2012,1981,1995,2012,2009,1992,2017,2013,2012,2012,1993,1997,1992,1982

In [23]:
environment=environment.rename(columns={'Basel Convention-1989':'Basel_Convention',
                           'CITES':'CITES',
                           'Conv. on Biological Diversity':'Convention_On_Biological_Diversity',
                           'Conv. on Migratory Species': 'Convention_On_Migratory_Species',
                           'Kyoto Protocol':'Kyoto_Protocol',
                           'Montreal Protocol': 'Montreal_Protocol',
                           'Paris Agreement': 'Paris_Agreement',
                           'Ramsar Conv.': 'Ramsar_Convention',
                           'Rotterdam Conv.': 'Rotterdam_Convention',
                           'Stockholm Conv.':'Stockholm_Convention',
                           'UN Conv. on the Law of the Sea': 'UN_Convention_on_the_Law_of_the_Sea',
                           'UN Conv. to Combat Desertification':'UN_Convention_to_Combat_Desertification',
                           'UN Framework Conv. on Climate Change':'UN_Framework_Convention_on_Climate_Change',
                            'World Heritage Conv.': 'World_Heritage_Convention'}
                  )

In [24]:
badENVsymbols=[] # list for bad symbols

NumericColNames=environment.iloc[:,1:].columns # save names of columns with numeric data

for columnName in NumericColNames:# visit every column name
    for cell in environment[columnName]:# visit every cell for that column
        try:
            float(cell) # try this
        except: # if not possible:            
            if cell not in badENVsymbols:# if cell is not in the list                
                badENVsymbols.append(cell)# add it to the list

# you get:
badENVsymbols
#shows all of the numeric columns
#that have non-numeric values or symbols

['...', '…']

In [25]:
environment.replace(to_replace=badENVsymbols,value=np.nan,inplace=True)

In [26]:
badENVsymbols

['...', '…']

In [27]:
environment

,Country,Basel_Convention,CITES,Convention_On_Biological_Diversity,Convention_On_Migratory_Species,Kyoto_Protocol,Montreal_Protocol,Paris_Agreement,Ramsar_Convention,Rotterdam_Convention,Stockholm_Convention,UN_Convention_on_the_Law_of_the_Sea,UN_Convention_to_Combat_Desertification,UN_Framework_Convention_on_Climate_Change,World_Heritage_Convention
0,Afghanistan,2013,1985,2002,2015,2013,2004,2017,NaN,2013,2013,NaN,1995,2002,1979
1,Albania,1999,2003,1994,2001,2005,1999,2016,1996,2010,2004,2003,2000,1994,1989
2,Algeria,1998,1983,1995,2005,2005,1992,2016,1984,NaN,2006,1996,1996,1993,1974
3,Andorra,1999,NaN,2015,NaN,NaN,2009,2017,2012,NaN,NaN,NaN,2002,2011,1997
4,Angola,2017,2013,1998,2006,2007,2000,NaN,NaN,NaN,2006,1990,1997,2000,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela (Bolivarian Republic of),1998,1977,1994,NaN,2005,1989,2017,1988,2005,2005,NaN,1998,1994,1990
190,Viet Nam,1995,1994,1995,NaN,2002,1994,2016,1989,2007,2002,NaN,1998,1994,1987
191,Yemen,1996,1997,1996,2006,2004,1996,NaN,2008,2006,2004,1987,1997,1996,1980
192,Zambia,1994,1980,1993,NaN,2006,1990,2016,1991,2011,2006,1983,1996,1993,1984
193,Zimbabwe,2012,1981,1995,2012,2009,1992,2017,2013,2012,2012,1993,1997,1992,1982

In [28]:
environment.columns = environment.columns.str.replace(' ', '')

In [29]:
environment.dtypes

Country                                      object
Basel_Convention                             object
CITES                                        object
Convention_On_Biological_Diversity           object
Convention_On_Migratory_Species              object
Kyoto_Protocol                               object
Montreal_Protocol                            object
Paris_Agreement                              object
Ramsar_Convention                            object
Rotterdam_Convention                         object
Stockholm_Convention                         object
UN_Convention_on_the_Law_of_the_Sea          object
UN_Convention_to_Combat_Desertification      object
UN_Framework_Convention_on_Climate_Change    object
World_Heritage_Convention                    object
dtype: object

In [30]:
environment.tail(85)

,Country,Basel_Convention,CITES,Convention_On_Biological_Diversity,Convention_On_Migratory_Species,Kyoto_Protocol,Montreal_Protocol,Paris_Agreement,Ramsar_Convention,Rotterdam_Convention,Stockholm_Convention,UN_Convention_on_the_Law_of_the_Sea,UN_Convention_to_Combat_Desertification,UN_Framework_Convention_on_Climate_Change,World_Heritage_Convention
109,Mexico,1991,1991,1993,NaN,2000,1988,2016,1986,2005,2003,1983,1995,1993,1984
110,Micronesia (Federated States of),1995,NaN,1994,NaN,1999,1995,2016,NaN,NaN,2005,NaN,1996,1993,2002
111,Monaco,1992,1978,1993,1993,2006,1993,2016,1997,NaN,2004,1996,1999,1992,1978
112,Mongolia,1997,1996,1993,1999,1999,1996,2016,1998,2001,2004,1996,1996,1993,1990
113,Montenegro,2006,2007,2006,2009,2007,2006,NaN,2006,2011,2011,2006,2007,2006,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela (Bolivarian Republic of),1998,1977,1994,NaN,2005,1989,2017,1988,2005,2005,NaN,1998,1994,1990
190,Viet Nam,1995,1994,1995,NaN,2002,1994,2016,1989,2007,2002,NaN,1998,1994,1987
191,Yemen,1996,1997,1996,2006,2004,1996,NaN,2008,2006,2004,1987,1997,1996,1980
192,Zambia,1994,1980,1993,NaN,2006,1990,2016,1991,2011,2006,1983,1996,1993,1984
193,Zimbabwe,2012,1981,1995,2012,2009,1992,2017,2013,2012,2012,1993,1997,1992,1982

In [31]:
#environment.iloc[:,1:].apply(pd.to_numeric)

e = environment

e.iloc[:,1:].astype(float)

,Basel_Convention,CITES,Convention_On_Biological_Diversity,Convention_On_Migratory_Species,Kyoto_Protocol,Montreal_Protocol,Paris_Agreement,Ramsar_Convention,Rotterdam_Convention,Stockholm_Convention,UN_Convention_on_the_Law_of_the_Sea,UN_Convention_to_Combat_Desertification,UN_Framework_Convention_on_Climate_Change,World_Heritage_Convention
0,2013.0,1985.0,2002.0,2015.0,2013.0,2004.0,2017.0,NaN,2013.0,2013.0,NaN,1995.0,2002.0,1979.0
1,1999.0,2003.0,1994.0,2001.0,2005.0,1999.0,2016.0,1996.0,2010.0,2004.0,2003.0,2000.0,1994.0,1989.0
2,1998.0,1983.0,1995.0,2005.0,2005.0,1992.0,2016.0,1984.0,NaN,2006.0,1996.0,1996.0,1993.0,1974.0
3,1999.0,NaN,2015.0,NaN,NaN,2009.0,2017.0,2012.0,NaN,NaN,NaN,2002.0,2011.0,1997.0
4,2017.0,2013.0,1998.0,2006.0,2007.0,2000.0,NaN,NaN,NaN,2006.0,1990.0,1997.0,2000.0,1991.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,1998.0,1977.0,1994.0,NaN,2005.0,1989.0,2017.0,1988.0,2005.0,2005.0,NaN,1998.0,1994.0,1990.0
190,1995.0,1994.0,1995.0,NaN,2002.0,1994.0,2016.0,1989.0,2007.0,2002.0,NaN,1998.0,1994.0,1987.0
191,1996.0,1997.0,1996.0,2006.0,2004.0,1996.0,NaN,2008.0,2006.0,2004.0,1987.0,1997.0,1996.0,1980.0
192,1994.0,1980.0,1993.0,NaN,2006.0,1990.0,2016.0,1991.0,2011.0,2006.0,1983.0,1996.0,1993.0,1984.0
193,2012.0,1981.0,1995.0,2012.0,2009.0,1992.0,2017.0,2013.0,2012.0,2012.0,1993.0,1997.0,1992.0,1982.0

In [32]:
# getting the column that we want to work with
num = 1
ey = 1992
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        
    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [33]:
# getting the column that we want to work with
num = 2
ey = 1975
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        

    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [34]:
# getting the column that we want to work with
num = 3
ey = 1993
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        

    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [35]:
# getting the column that we want to work with
num = 4
ey = 1983
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        

    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [36]:
# getting the column that we want to work with
num = 5
ey = 2005
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        

    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [37]:
# getting the column that we want to work with num=column number
num = 6
# ey means effective year
ey = 1989
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        

    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [38]:
# getting the column that we want to work with
num = 7
ey = 2016
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        

    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [39]:
# getting the column that we want to work with
num = 8
ey = 1975
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        

    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [40]:
# getting the column that we want to work with
num = 9
ey = 2004
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        

    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [41]:
# getting the column that we want to work with
num = 10
ey = 2004
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        

    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [42]:
# getting the column that we want to work with
num = 11
ey = 1982
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        

    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [43]:
# getting the column that we want to work with
num = 12
ey = 1996
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        

    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [44]:
# getting the column that we want to work with
num = 13
ey = 1992
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        

    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [45]:
# getting the column that we want to work with
num = 14
ey = 1972
col = e.iloc[:,num]

# for each row in col (x) 
for x in range(len(col)):
    
    
    # cell value because we are going down column 1 looking at each row (x)
    cell_value = e.iloc[x,num]
    # convert each cell value to a float because some are not showing as numbers
    year = float(cell_value)
    
    if year <= ey:
        e.iloc[x,num] = "Original Adopter"
    
    
    # create conditions 
    if year > ey and year <= ey+5:
        
     # if it meets above criteria it will be changed to what's in the quotes changing value of variable not actual location so you need to have the e.loc statement
        e.iloc[x,num] = "1-5 Year Adopter"
        
    if year > ey+5 and year <= ey+10 :
        e.iloc[x,num] = "6-10 year adopter"
        
    if year > ey+10:
        e.iloc[x,num] = "11+ year adopter"
        

    if year != year:
        e.iloc[x,num] = "Non-adopter"

In [46]:
e

,Country,Basel_Convention,CITES,Convention_On_Biological_Diversity,Convention_On_Migratory_Species,Kyoto_Protocol,Montreal_Protocol,Paris_Agreement,Ramsar_Convention,Rotterdam_Convention,Stockholm_Convention,UN_Convention_on_the_Law_of_the_Sea,UN_Convention_to_Combat_Desertification,UN_Framework_Convention_on_Climate_Change,World_Heritage_Convention
0,Afghanistan,11+ year adopter,6-10 year adopter,6-10 year adopter,11+ year adopter,6-10 year adopter,11+ year adopter,1-5 Year Adopter,Non-adopter,6-10 year adopter,6-10 year adopter,Non-adopter,Original Adopter,6-10 year adopter,6-10 year adopter
1,Albania,6-10 year adopter,11+ year adopter,1-5 Year Adopter,11+ year adopter,Original Adopter,6-10 year adopter,Original Adopter,11+ year adopter,6-10 year adopter,Original Adopter,11+ year adopter,1-5 Year Adopter,1-5 Year Adopter,11+ year adopter
2,Algeria,6-10 year adopter,6-10 year adopter,1-5 Year Adopter,11+ year adopter,Original Adopter,1-5 Year Adopter,Original Adopter,6-10 year adopter,Non-adopter,1-5 Year Adopter,11+ year adopter,Original Adopter,1-5 Year Adopter,1-5 Year Adopter
3,Andorra,6-10 year adopter,Non-adopter,11+ year adopter,Non-adopter,Non-adopter,11+ year adopter,1-5 Year Adopter,11+ year adopter,Non-adopter,Non-adopter,Non-adopter,6-10 year adopter,11+ year adopter,11+ year adopter
4,Angola,11+ year adopter,11+ year adopter,1-5 Year Adopter,11+ year adopter,1-5 Year Adopter,11+ year adopter,Non-adopter,Non-adopter,Non-adopter,1-5 Year Adopter,6-10 year adopter,1-5 Year Adopter,6-10 year adopter,11+ year adopter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela (Bolivarian Republic of),6-10 year adopter,1-5 Year Adopter,1-5 Year Adopter,Non-adopter,Original Adopter,Original Adopter,1-5 Year Adopter,11+ year adopter,1-5 Year Adopter,1-5 Year Adopter,Non-adopter,1-5 Year Adopter,1-5 Year Adopter,11+ year adopter
190,Viet Nam,1-5 Year Adopter,11+ year adopter,1-5 Year Adopter,Non-adopter,Original Adopter,1-5 Year Adopter,Original Adopter,11+ year adopter,1-5 Year Adopter,Original Adopter,Non-adopter,1-5 Year Adopter,1-5 Year Adopter,11+ year adopter
191,Yemen,1-5 Year Adopter,11+ year adopter,1-5 Year Adopter,11+ year adopter,Original Adopter,6-10 year adopter,Non-adopter,11+ year adopter,1-5 Year Adopter,Original Adopter,1-5 Year Adopter,1-5 Year Adopter,1-5 Year Adopter,6-10 year adopter
192,Zambia,1-5 Year Adopter,1-5 Year Adopter,Original Adopter,Non-adopter,1-5 Year Adopter,1-5 Year Adopter,Original Adopter,11+ year adopter,6-10 year adopter,1-5 Year Adopter,1-5 Year Adopter,Original Adopter,1-5 Year Adopter,11+ year adopter
193,Zimbabwe,11+ year adopter,6-10 year adopter,1-5 Year Adopter,11+ year adopter,1-5 Year Adopter,1-5 Year Adopter,1-5 Year Adopter,11+ year adopter,6-10 year adopter,6-10 year adopter,11+ year adopter,1-5 Year Adopter,Original Adopter,6-10 year adopter

In [47]:
e.to_csv('/Users/kamalraslan/Documents/environment.csv')

In [48]:
e.to_pickle("/Users/kamalraslan/Documents/environment.pkl")

In [49]:
pip install rpy2

Requirement already satisfied: rpy2 in /opt/anaconda3/lib/python3.7/site-packages (3.2.5)
Requirement already satisfied: simplegeneric in /opt/anaconda3/lib/python3.7/site-packages (from rpy2) (0.8.1)
Requirement already satisfied: tzlocal in /opt/anaconda3/lib/python3.7/site-packages (from rpy2) (2.0.0)
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.7/site-packages (from rpy2) (2.10.3)
Requirement already satisfied: cffi>=1.13.1 in /opt/anaconda3/lib/python3.7/site-packages (from rpy2) (1.13.2)
Requirement already satisfied: pytz in /opt/anaconda3/lib/python3.7/site-packages (from rpy2) (2019.3)
Requirement already satisfied: pytest in /opt/anaconda3/lib/python3.7/site-packages (from rpy2) (5.2.1)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.7/site-packages (from jinja2->rpy2) (1.1.1)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.7/site-packages (from cffi>=1.13.1->rpy2) (2.19)
Requirement already satisfied: py>=1.5.0 in /opt/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (1.8.0)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (19.2)
Requirement already satisfied: attrs>=17.4.0 in /opt/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (19.2.0)
Requirement already satisfied: more-itertools>=4.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (7.2.0)
Requirement already satisfied: atomicwrites>=1.0 in /opt/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (1.3.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in /opt/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (0.13.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (0.1.7)
Requirement already satisfied: importlib-metadata>=0.12 in /opt/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (0.23)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from packaging->pytest->rpy2) (1.12.0)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from packaging->pytest->rpy2) (2.4.2)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata>=0.12->pytest->rpy2) (0.6.0)
Note: you may need to restart the kernel to use updated packages.

In [51]:

from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(e,file="/Users/kamalraslan/Documents/environment.RDS")

<rpy2.rinterface.NULLType object at 0x1276086e0> [RTYPES.NILSXP]